{% extends "shortener_app/base.html" %}
{% load static %}

{% block content %}
    <div id="container">
        <label for="shorten-input" aria-label="Link to shorten"></label>
        <input id="shorten-input" type="text" autocomplete="off" placeholder="Shorten your link">

        <input id="shorten-button" type="submit" value="Shorten">

        <ul id="own-links">
            <template>
                <li class="own-links__link">
                    <span class="link__long-link"></span>

                    <span class="link__short-link">
                            <a target="_blank"></a>
                            <button class="link-button short-link__copy-button">Copy</button>
                        </span>
                </li>
            </template>
        </ul>
    </div>

    {% if user.is_authenticated %}
        <script>
            document.USER_ID = '{{ user.id }}';
        </script>
    {% endif %}

{% endblock content %}

{% block scripts %}
    <script src="{% static "shortener_app/js/index.js" %}"></script>
{% endblock %}